$primary-color:black;
$light-gray: #999999;
$medium-gray: #666666;
$dark-gray: #333333;

.header {
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 2rem;
    font-size: 1.8rem;
}

.home {
    padding-top: 1rem;
    margin-left: 1rem;
    display:flex;
    align-items: center;
}

.pic {
    display: block;
    margin-right: 0.875rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}
.title {
    display: block;
    max-width: 310px;
    font-size: 1.3rem;
    line-height: 4rem;
    text-decoration: none;
    color: $primary-color;
    font-weight: 400;
}

.nav-list {
    min-width: 240px;
    font-size: 1.3rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0; 
}
.nav-item {
    color: $light-gray;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover{
    color: $medium-gray;
}

.active-nav-item {
    color: $dark-gray;
}